<style>
  .container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
</style>
<div class="container">
  <iframe src="https://player.vimeo.com/video/{{ include.id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
</div>
<!-- To include in a post:
{% include vimeoPlayer.html id=page.vimeoId %}
Then make a metadata entry called 'vimeoId' and then put the URL in.
-->
